<div class="results-block">
  <%= render 'layouts/flash' %>
</div>

<% if @todos %>
   <!-- <div class="card card-header results-block"> -->
    <table class="col-md-10">
      <tbody>
        <% @todos.each do |todo| %>
          <tr class="card card-header results-block mb-1 todo-description">
            <td class="name-text"><strong>Name: </strong> <%= todo.name %></td>
            
          </tr>
          <tr class="card card-header results-block todo-description">
              <td class="mt-1"><strong class="ml-2 ">Todo: </strong> <%= todo.description %></td>
             
              <td class="mt-1"><%= link_to "View #{todo.name}'s Details", todo_path(todo),
                                            class: "btn btn-outline-primary btn-sm ml-2" %>
              </td>
          </tr>
         
        <% end %>
      </tbody>
    
    </table>
  <!-- </div> -->
 <% end %> 