@import 'bootstrap/dist/css/bootstrap';

/* universal */



section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.footer {
  color: #d3d3d3;
  margin-top: 300px;
}

/* Jumbotron */

.jumbotron {
  background-image: asset-url("london.png");
  background-size: cover;
  height: 600px;
}

.jumbotron h1 {
  color: #000;
}

.jumbotron h1 {
  font-size: 70px;
}

/* Home Page */
.btn {
  
  border-radius: 7px;
}

.results-block {
  display: inline-block;
  margin-bottom: 1.5rem;
}

// Todo Results Page
  .todo-description {
    width: 100%;
    overflow: scroll;
  }

  .name-text {
    margin-bottom: 0 !important;
  }

  // Search Bar

  .search-area {
    @media (max-width: 480px) {
      width: 100%;
      height: auto;
      .btn {
        margin-left: 90px;
        margin-top: 15px;
        width: 40%;
      }
    }
  }

  // Nav Bar

   .right {
    @media only screen
    and (min-width:768px) { 
      }
    and {orientation: portrait}
      width: 60%;
  }
