@import 'bootstrap/dist/css/bootstrap';

/* universal */



section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.footer {
  color: #d3d3d3;
  margin-top: 300px;
}

/* Jumbotron */

.jumbotron {
  background-image: asset-url("london.png");
  background-size: cover;
  height: 600px;
}

.jumbotron h1 {
  color: #000;
}

.jumbotron h1 {
  font-size: 70px;
}

/* Home Page */
.btn {
  
  border-radius: 7px;
}

.results-block {
  display: inline-block;
  margin-bottom: 1rem;
}